*.iml
.gradle
/.settings
/.idea
/.idea/caches/build_file_checksums.ser
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/codeStyles/*.xml
/.idea/codeStyles/codeStyleConfig.xml
/.idea/*.xml
/.idea/*/*.xml
/.idea/
/.idea/misc.xml
/.idea/encodings.xml
/.idea/.name
/.idea/codeStyles
/.idea/vcs.xml
.idea/php.xml

.DS_Store
/Kernel
/Logs
.settings
*.ini
/upload_imagem/*
cert_temp_pem/
certificados/
servicoLogs/
testeScript.php5
/upload_imagem
/certificados
/teste.php5
/Arquivos
ZMWSInfo.ini

/vendor
tests/reports/tests.html
composer.lock
/bin/composer
